/* :root là selector global */
:root {
    --text-color: red;
}

h1 {
    --my-color: green;
    /* Biến được đặt bằng cách thêm -- ở trước là biến cục bộ local */
    color: var(--my-color);
   
}

h2 {
    color: var(--text-color);
}

h3 {
    color: var(--text-color);
}